#grid {
  display: flex;
  width: 900px;
  height: 900px;
  flex-flow: wrap;
  align-content: flex-start;
  border: 2px;
  border-color: black;
  border-style: solid;
}

.gridSquare {
  width: 10px;
  height: 10px;
  border-color: black;
  border-width: 0.5px;
  border-style: solid;
  box-sizing: border-box;
}
.gridSquareHover {
  background-color: black;
}
#header {
  display: flex;
}
button {
  margin-left: 30px;
  width: 150px;
  font-size: larger;
  height: 70px;
}
